
        <ul>
                {{#each post}}
                <li>
                  <p>
                    {{this.id}}. {{this.post}}
              
                    <button data-postid="{{this.id}}" class="delpost">Delete Plan!</button>
                  </p>
                </li>
                {{/each}}
              </ul>
   <div class="container px-lg-5">
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5 border bg-light">
                <h2>Create a Post</h2>
                <div class="container"></div>
                <div class="col-4"></div>
                <form id="createpost" class="buttonsize">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Size</label>
                        <select class="AllSizes" id="Size">
              <option>XS</option>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>XXL</option>
            </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Event</label>
                        <select class="AllEvents" id="Event">
              <option>Casual</option>
              <option>Formal</option>
              <option>Sport</option>
              <option>Bussiness Casual</option>
              <option>Black Tie</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Enter Your Item Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <p>Upload Image</p>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <input type="file" accept="image/*" name="photo">
                        <input type="submit" value="upload">
                        <div>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">CREATE POST</button>
                    </form>
                    </div>
            </div>
        </div>
<script type="text/javascript">
  $(".delpost").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("postid");

    // Send the DELETE request.
    $.ajax("/api/posts/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createpost").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newPlan = {
      plan: $("#createpost[name=post]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/posts", {
      type: "POST",
      data: newPlan
    }).then(
      function() {
        console.log("created new plan");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  </script>

