body {
    background-image: url('../../assets/photos/back1.jpg');
    box-sizing: border-box;
    background-repeat: round;
}


/* Split the screen in half */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Control the left side */

.left {
    left: 0;
}

.right {
    right: 0;
}


/* If you want the content centered horizontally and vertically */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Style the image inside the centered container, if needed */

.centered img {
    width: 150px;
    border-radius: 50%;
    margin-left: -60px;
}

button#start {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

header.container {
    text-align: center;
}